SSOMA.Presentacion/Modulos/Epp/Rpt/reporteequipo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="reporteequipo"
    targetNamespace="http://tempuri.org/reporteequipo.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/reporteequipo.xsd"
    xmlns:mstns="http://tempuri.org/reporteequipo.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="reporteequipo">
    <xs:complexType>
      <xs:sequence />
      <xs:attribute name="Logo" type="xs:base64Binary" />
      <xs:attribute name="Codigo" type="xs:string" />
      <xs:attribute name="DescEquipo" type="xs:string" />
      <xs:attribute name="Precio" type="xs:decimal" />
    </xs:complexType>
  </xs:element>



</xs:schema>
